$border-color: #2d3748;
$surface: #090a15;
$hover: #2d3748;

.root {
  position: relative;
}

.anchor {
  padding-bottom: 32px;
  margin-bottom: -32px;
}

.overlayWrapper {
  opacity: 0;
  pointer-events: none;
  @media (max-width: 599px) {
    position: fixed;
    height: 100vh;
    z-index: 102;
    width: 100vw;
    background: rgb(9, 10, 21, 0.75);
    top: 0;
    left: 0;
  }
  .container {
    transform: translateY(100%);
  }
  &.showOverlay {
    .container {
      transform: translateY(0);
    }
  }
}

.showOverlay {
  opacity: 1;
  pointer-events: auto;
}

.container {
  background: $surface;
  border: 1px solid $border-color;
  box-shadow:
    0px 0px 46px 0px rgba(23, 43, 77, 0.01),
    0px 4px 26px 0px rgba(23, 43, 77, 0.05),
    0px 18px 42px 0px rgba(23, 43, 77, 0.08);
  padding: 8px;
  border-radius: 8px;
  bottom: 0;
  position: absolute;
  width: 100%;
  left: 0;
  transition: transform 300ms ease;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media (min-width: 600px) {
    top: 100%;
    margin-top: 16px;
    bottom: unset;
    width: auto;
  }
}

.item {
  border-radius: 8px;
  color: #a0aec0;
  width: max-content;
  min-width: 100%;
  cursor: pointer;
  padding: 8px 12px;
  background: $surface;
  transition: background 300ms ease-out;
  &:hover {
    background: $hover;
  }
}

.topPos {
  @media (min-width: 600px) {
    top: unset !important;
    left: 0 !important;
    transform: unset !important;
    bottom: 100% !important;
  }
  & > * {
    width: 100%;
    display: inline-block;
  }

  a {
    color: inherit;
  }
}
