# deps
node_modules

# generated content
.source
cache

# test & build
/coverage
.next
/out/
/build
dist
.turbo
*.tsbuildinfo
out
# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# opensrc - source code for packages
opensrc
.env
