.tabItem > *:last-child {
  margin-bottom: 0;
}

.children {
  width: min-content;
}

.tableChildren {
  width: auto;
  padding: 0 16px;
}

.codeChildren {
  width: max-content;
  max-width: 100%;
  > div {
    box-shadow: none;
  }
  > div, cmd > div {
    background: transparent !important;
    > div {
      margin: 0;
    }
  }
  cmdresult > div > div {
    margin: 0;
  }
}

.terminal {
  > div > div {
    padding: 0;
  }
}

:global(.code-children > div) {
  width: 100%;
}

:global(.empty-code-tab) {
  padding: 1rem;
}
