.fd-step::before {
    background-color: var(--color-background-neutral-reverse);
    color: var(--color-foreground-neutral-reverse);
}

.fd-step :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-foreground-neutral);
    margin: 0;
    min-height: 32px;
}

.fd-step:last-of-type .separator {
    display: none;
}

.separator {
    height: 1px;
    background-color: var(--color-stroke-neutral);
}

.fd-step p {
    color: var(--color-foreground-neutral-weak);
}

.fd-step--inactive :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-foreground-neutral-weak);
}

.fd-step--inactive p {
    color: var(--color-foreground-neutral-weak);
}

.fd-step--inactive::before {
    background-color: var(--color-background-neutral);
    color: var(--color-foreground-neutral-weak);
}
.fd-step--checked::before {
    content: "✓";
}
