.formBtn {
  display: inline-flex;
  -webkit-box-pack: center;
  padding: 16px 24px;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  z-index: 1;
  margin: 4px;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  line-height: 1;
  transition:
    background-color 0.1s ease 0s,
    color 0.2s ease 0s;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 700;
  font-size: 18px;
  border: 1px solid rgb(90, 103, 216);
  background-color: rgb(90, 103, 216);
  color: white;
  content: "Subscribe for updates";
  max-height: 48px;
  white-space: nowrap;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: max-content;
  }
  .button {
    background-color: transparent;
    background-image: none;
    color: inherit;
    cursor: pointer;
    font-weight: inherit;
    line-height: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
.form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.input-name {
  margin-bottom: 24px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    max-width: 264px;
    width: auto;
  }
}
.input-email {
  margin-bottom: 32px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    width: auto;
    max-width: 312px;
  }
}
.input-name,
.input-email {
  position: relative;
  width: 100%;
  .leading-icon {
    left: 24px;
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media only screen and (min-width: 360px) {
      display: flex;
    }
  }
  @media only screen and (min-width: 768px) {
    margin-right: 24px;
    margin-bottom: 0;
    width: auto;
  }
}
.input-el {
  background: white;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 12px 25px 12px 58px;

  &:focus {
    outline: 1px solid;
  }
}
