.formBtn {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    z-index: 1;
    margin: 4px;
    width: max-content;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    line-height: 1;
    transition: background-color 0.1s ease 0s, color 0.2s ease 0s;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 18px;
    border: 1px solid rgb(90, 103, 216);
    background-color: rgb(90, 103, 216);
    color: white;
}