:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.DocSearch-Container p {
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.DocSearch-Container .search-hit-0 {
  color: gray;
  font-size: 10px;
  padding-left: 9px;
  display: block;
  padding-top: 12px;
}
.DocSearch-Hit-Container {
  height: auto;
}
.DocSearch-Hit a {
  padding-bottom: 12px;
}

.DocSearch-Hit--Child a {
  padding-top: 12px;
}
.DocSearch-Hit--Child .search-hit-0 {
  display: none;
}
