.notFoundRow {
    justify-content: center;
    gap: 48px;
    align-items: center;
    img {
        margin: 0;
    }
    > div {
        height: min-content;
    }
}

.hero__title {
  font-size: 40px;
}