.notFoundRow {
  justify-content: center;
  gap: 48px;
  align-items: center;
  img {
    margin: 0;
  }
  > div {
    height: min-content;
  }
}

.hero__title {
  font-family: Barlow, system-ui, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 48px;
  letter-spacing: -0.8px;
}
