/** Inter Regular */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/Inter-Regular.woff2'), url('/fonts/Inter-Regular.woff2');
}

/** Inter Medium */
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/Inter-Medium.woff2'), url('/fonts/Inter-Medium.woff2');
}

/** Inter Italic */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/docs/fonts/Inter-Italic.woff2'), url('/fonts/Inter-Italic.woff2');
}

/** Inter SemiBold */
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/Inter-SemiBold.woff2'), url('/fonts/Inter-SemiBold.woff2');
}

/** Inter SemiBold Italic */
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/docs/fonts/Inter-SemiBoldItalic.woff2'), url('/fonts/Inter-SemiBoldItalic.woff2');
}

/** Inter Bold */
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/Inter-Bold.woff2'), url('/fonts/Inter-Bold.woff2');
}

/** Inter Bold Italic */
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/docs/fonts/Inter-BoldItalic.woff2'), url('/fonts/Inter-BoldItalic.woff2');
}

/** Barlow Bold */
@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/Barlow-Bold.woff2'), url('/fonts/Barlow-Bold.woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/docs/fonts/JetBrainsMono-Regular.woff2'), url('/fonts/JetBrainsMono-Regular.woff2');
}

html {
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  /* Issue 894 */
  font-size: 16px;
}

body {
  /* Generic */
  --main-font-color: #2d3748;
  --main-bgd-color: #f7fafc;
  --header-bg-color: #ffffff;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);
}

@media (prefers-color-scheme: dark) {
  body {
    /* Generic */
    --main-font-color: #e2e8f0;
    --main-bgd-color: #1a202c;
    --header-bg-color: #1a202c;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #7f9cf5;
    --border-color: #e2e8f0;
    --code-bgd-color: #2d3748;
    --code-inline-bgd-color: #2d3748;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #4a5568;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);

    color: var(--main-font-color);
    background-color: var(--main-bgd-color);
  }
  .gatsby-resp-image-image {
    box-shadow: none !important;
  }
  kbd {
    background: var(--main-bgd-color) !important;
  }
}

::selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  color: var(--white-color);
  background: var(--selection-bgd-color);
}

pre {
  margin: 0;
}

a {
  color: var(--link-color);
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h5 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

h6 {
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html {
  line-height: unset;
  -webkit-text-size-adjust: unset;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

h1.inline-code {
  display: inline-block;
}

h2 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

section h2,
section h3,
section h4,
section h5,
section h6 {
  margin-top: 2em;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-font-color);
}

section h2 {
  margin-bottom: 0;
}

.title-link {
  /* margin-left: -24px;
    margin-right: 5px; */
  opacity: 0;
}

h2:hover .title-link,
h3:hover .title-link,
h4:hover .title-link,
h5:hover .title-link,
h6:hover .title-link {
  opacity: 1;
}

h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin: 1rem 0;
}

p,
li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

kbd {
  background: var(--white-color);
  box-shadow: 0px 1px 1px rgba(47, 55, 71, 0.6), 0px 1px 4px rgba(47, 55, 71, 0.2);
  border-bottom: 1px solid rgba(47, 55, 71, 0.2);
  border-radius: 4px;
  padding: 2px 6px;
  vertical-align: baseline;
  font-size: 14px !important;
  font-family: 'JetBrainsMono' !important;
}

table {
  width: 100%;
  word-break: normal;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  border-spacing: 0px;
  margin: 0 0px 20px;
  white-space: inherit;
}

table * {
  font-size: 13px;
}

table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
}

table td {
  padding: 12px;
  border-top: 1px solid var(--border-color);
  vertical-align: top;
}

table code {
  white-space: nowrap;
}

blockquote {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--code-inner-color);
  padding-left: 2rem;
  padding-bottom: 8px;
  padding-bottom: 8px;
  margin: 2rem 0px;
  position: relative;
}

blockquote pre {
  font-weight: normal;
}

blockquote::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  left: 0px;
  background: var(--code-bgd-color);
  border-radius: 5px;
}

blockquote code {
  color: var(--code-inner-color);
}

blockquote p {
  margin: 0;
}

hr {
  margin: 2rem 0;
  margin-left: -40px;
  margin-right: -40px;
  border: 0;
  height: 1px;
  background: var(--border-color);
}

.list {
  padding: 0;
  margin-left: 24px;
}

.list li {
  padding-left: 8px;
  /* text-indent: -1em; */
  margin-top: 10px;
}

.list li::marker {
  content: '\2022';
  color: var(--list-bullet-color);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 20px;
}

.o-list li {
  margin-top: 10px;
}

.clearfix {
  clear: both;
}

.list li pre .line-no {
  width: 45px;
}

@media (min-width: 0px) and (max-width: 767px) {
  hr {
    margin-left: -24px;
    margin-right: -24px;
  }
  .pre-highlight {
    margin-right: -24px;
    margin-left: -24px;
  }

  .pre-highlight pre {
    border-radius: 0;
  }

  .tab-content .copy-button {
    right: 40px;
  }

  .list li pre .pre-highlight {
    margin-left: 0;
    margin-right: 0;
  }
}

/* TEMP */

a.question,
span.concept,
span.api,
span.guide {
  background: #bee3f8;
  border-radius: 4px;
  padding: 2px;
  color: #3182ce;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
}

span.api::before {
  content: 'API';
}

span.concept::before {
  content: 'CONCEPT';
}

span.guide::before {
  content: 'GUIDE';
}

a.question {
  border-radius: 10px;
  padding: 2px 6px;
}

a.question::before {
  content: '?';
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gatsby-resp-image-wrapper {
  margin-left: 0 !important;
}

/* 
  
  
  nav.toc {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
  }
  
  ul.toc-list > li {
    list-style-type: none;
    margin-left: 24px;
    font-size: 13px;
  }
  
  ul.toc-list > li > a {
    color: #c2c2c2;
    text-decoration: none;
    border-bottom: 0;
    transition: 1s all ease-in-out;
  }
  
  ul.toc-list > li.is-current > a {
    color: black !important;
  } */

/*
    We want to hide YouTube videos in Percy snapshots since they can provide
    unstable results.
  
    https://docs.percy.io/docs/percy-specific-css#percy-css-media-query
  */
@media only percy {
  iframe {
    visibility: hidden;
  }

  section img {
    visibility: hidden;
  }

  /* hide cookie banner */
  #onetrust-consent-sdk {
    display: none;
  }
}

/* Kapa.ai overrides */
#kapa-widget-container .mantine-Button-root {
  z-index: 1000;
}

#kapa-widget-container .mantine-Image-root {
  height: 2rem;
}

#kapa-widget-container .mantine-Text-root {
  font-size: 1rem;
  color: #71e8df;
  filter: drop-shadow(0px 0.724px 1.251px rgba(14, 18, 28, 0.02))
    drop-shadow(0px 1.608px 2.909px rgba(14, 18, 28, 0.04))
    drop-shadow(0px 2.793px 5.225px rgba(14, 18, 28, 0.06))
    drop-shadow(0px 4.55px 8.671px rgba(14, 18, 28, 0.07))
    drop-shadow(0px 7.485px 14.285px rgba(14, 18, 28, 0.08))
    drop-shadow(0px 13.358px 24.966px rgba(14, 18, 28, 0.09))
    drop-shadow(0px 33px 54px rgba(14, 18, 28, 0.07));
}

#kapa-widget-container .mantine-Image-image {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

#kapa-widget-container .mantine-Button-root {
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 8px;
  border: 2px solid #71e8df !important;
}

#kapa-widget-container .mantine-Stack-root {
  margin-top: 0px !important;
}

.mantine-Modal-body img {
  margin-bottom: 0;
}

.gatsby-resp-image-wrapper {
  margin-left: inherit !important;
}
