@import "tailwindcss";
@import '@prisma-docs/eclipse/styles/globals.css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import '@prisma-docs/ui/styles';

