@import 'tailwindcss';
@import '@prisma-docs/eclipse/styles/globals.css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import '@prisma-docs/ui/styles';

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }
}
