.tableOfContentsWrapper {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
  overflow: auto;
  min-height: 240px;
}

.tableOfContents {
  overflow-y: auto;
  overflow-x: visible;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
