.codeWithResult {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  .cmd {
    pre {
      border-radius: 8px 8px 0 0;
    }
  }
  .result {
    background-color: var(--main-font-color) !important;
    color: var(--code-inline-bgd-color) !important;
    border-radius: 0px 0px 8px 8px;
    .showBtn {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.01em;
      color: var(--code-inner-color);
      height: 24px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      padding: 1rem;
    }
    pre {
      background-color: var(--main-font-color) !important;
      color: var(--code-inline-bgd-color) !important;
      border-radius: 0px 0px 8px 8px;
    }
  }
  pre {
    margin-top: 0px;
    code {
      color: inherit !important;
      span {
        color: inherit !important;
      }
    }
  }
}
