
:root[data-theme="light"] .tabs-container > div {
  border-color: #e2e8f0;
}

.tabList {
  margin-bottom: var(--ifm-leading);
  width: fit-content;
  margin: 1rem 0;
  max-width: 100%;
  &:has(.full-width) {
    width: 100%;
  }
  > ul {
    overflow: unset;
  }
  > div {
    padding: 32px;
    margin-top: 0 !important;
    background-color: var(--surface-brand-grey);
    border: 1px solid var(--border-color);
    border-radius: 0px 8px 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    &:has(.code-children) {
      padding: 0;
    }
  }
  &:has(.code-children) {
    width: auto;
  }
  p {
    margin: 0
  }
}

.tabItem {
  margin-top: 0 !important;
  padding: 6px 12px;
  margin-right: 4px;
  margin-bottom: -1px;
  font-weight: 600;
  font-size: 0.875rem;
  align-items: center;
  border-radius: 4px 4px 0px 0px !important;
  background-color: var(--border-color);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: var(--tertiary-font-color);
  z-index: 0;
  &:hover {
    background: var(--disabled-font-color);
    position: relative;
    &::after {
      content: "";
      background-color: var(--border-color);
      width: calc(100% + 6px);
      height: 1px;
      position: absolute;
      left: -1px;
      top: 100%;
    }
  }
  &.activeTab {
    border: 1px solid var(--border-color);
    z-index: 2;
    background: var(--surface-brand-grey);
    position: relative;
    &::after {
      content: "";
      background: var(--surface-brand-grey);
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}

.transparent {
  background-color: revert !important;
  border: none !important;
  pre {
    padding-top: var(--ifm-pre-padding);
    background: var(--code-bgd-color) !important;
  }
}

.code {
  padding: 0 !important;
  pre {
    border-top-left-radius: 0;
    padding-bottom: 0 !important;
    background: transparent !important;
    code {
      padding-bottom: var(--ifm-pre-padding) !important;
    }
  }
}

.full-width {
  display: block;
  > div > div {
    width: 100%;
  }
}
