.tabList {
  margin-bottom: var(--ifm-leading);
}

.tabItem {
  margin-top: 0 !important;
}

.transparent {
  background-color: revert !important;
  border: none !important;
  pre {
    padding-top: var(--ifm-pre-padding);
    background: var(--code-bgd-color) !important;
  }
}

.code {
  pre {
    padding-bottom: 0 !important;
    code {
      padding-bottom: var(--ifm-pre-padding) !important;
    }
  }
}

.full-width {
  display: block;
  > div > div {
    width: 100%;
  }
}
