.tabList {
  margin-bottom: var(--ifm-leading);
}

.tabItem {
  margin-top: 0 !important;
}

.transparent {
  background-color: revert !important;
  border: none !important;
  .pre {
    padding-top: var(--ifm-pre-padding);
    // background-color: pink !important;
    background: var(--code-bgd-color) !important;
  }
}