/**
 * CSS/SCSS files with the .module.{css,scss} suffix will be treated as modules
 * and scoped locally.
 */

.icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-svg-color);
}

.h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 110%;

  @media (min-width: 940px) {
    font-size: 36px;
  }
}

.h4 {
  font-family: 'Barlow';
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 26.4px */
  letter-spacing: -0.48px;
}

.body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 140%;
}

.homepageTopSection {
  padding: 64px 12px;
  background: #f7fafc;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background: var(--homepage-header-bg);
}

.linkGrid {
  display: flex;
  max-width: 338px;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  a,
  button {
    min-width: calc(50% - 8px);
    white-space: nowrap;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.32px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    display: none;
  }
}

.productCardsWrapper {
  max-width: 1240px;
  width: 100%;
  gap: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

%productCard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 32px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 18px 42px 0px rgba(23, 43, 77, 0.08),
    0px 4px 26px 0px rgba(23, 43, 77, 0.05),
    0px 0px 46px 0px rgba(23, 43, 77, 0.01);

  h3 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 0 24px 0;
  }

  .body {
    margin-bottom: 16px;
  }

  @media (min-width: 768px) {
    width: calc(50% - 20px);
  }

}

.productCardIndigo {
  @extend %productCard;
  background: var(--indigo-card-bg);

  a,
  button {
    color: var(--indigo-link-color)
  }

  .icon {
    background: var(--indigo-600)
  }

}

.productCardTeal {
  @extend %productCard;
  background: var(--teal-card-bg);

  a,
  button {
    color: var(--teal-link-color)
  }

  .icon {
    background: var(--teal-link-color);
  }

}

.ormLinkSectionWrapper {
  max-width: 1272px;
  margin: 0 auto;
  padding: 60px 16px 24px;

  h4 {
    color: var(--main-font-color);
    margin-bottom: 40px;
  }

  >div {
    display: grid;
    gap: 40px;
    grid-template-columns: 100%;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.ormLinkWrapper {
  display: flex !important;
  gap: 24px;
  text-decoration: none;

  h5 {
    display: inline-block;
    color: var(--main-font-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    margin: 0 0 10px 0;
    letter-spacing: -0.36px;
    font-family: 'Barlow';

    >span {
      font-family: 'Inter';
    }
  }

  p {
    color: var(--secondary-font-color);
    text-overflow: ellipsis;
    font-family: 'Inter';
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
  }

  >div:last-of-type {
    display: inline-block;
  }

  .icon {
    background: var(--icon-wrapper-bg);
  }

  &:hover {
    h5 {
      text-decoration: underline;
    }
  }
}

.ormCardsSection {
  max-width: 1262px;
  margin: 0 auto;
  padding: 40px 11px;
}

.ormCardsWrapper {
  gap: 40px;
  display: flex;
  flex-direction: column;

  h4 {
    margin-bottom: 8px;
  }

  .productCardIndigo {
    padding: 40px;
    background: var(--orm-card-bg);
    grid-template-rows: auto auto 1fr;

    >p {
      color: var(--secondary-font-color);
      margin: 0 0 24px 0;
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      /* 22.4px */
    }
  }

  .linkGrid {
    gap: 12px;

    a {
      min-width: calc(50% - 8px);
      width: fit-content;
      white-space: nowrap;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.databasesSection {
  max-width: 1272px;
  margin: 0 auto;
  padding: 40px 16px;

  h4 {
    margin-bottom: 24px;
  }

  .body {
    color: var(--secondary-font-color);
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    padding: 24px 16px 108px;
  }
}

.databaseGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;

  a {
    text-decoration: none;
    color: unset;
  }

  @media only screen and (min-width: 1024px) {
    display: grid;
    column-gap: 44px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 940px) and (max-width: 1024px) {
    display: grid;
    column-gap: 44px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.databaseEntry {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  flex-basis: 21%;
  border-radius: 8px;
  padding: 25px 24px;
  background-color: var(--orm-card-bg);
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    border-radius: 8px;
    inset: 0;
    border: 1px solid var(--grid-border-color);
    background-color: transparent;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--main-bgd-color);

    &::after {
      border: 2px solid #5a67d8;
    }
  }

  img {
    margin: auto 0;
    max-height: 36px;
  }

  span {
    color: var(--main-font-color);
    text-transform: capitalize;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
  }

  @media only screen and (min-width: 940px) {
    padding: 0 24px;
  }
}

.communityLinksSection {
  background: var(--community-bgd-color);

  >div {
    padding: 80px 16px;
    margin: 0 auto;
    max-width: 1272px;
    text-align: left;

    a {
      text-decoration: none;
    }
  }

  .sectionHero {
    h3 {
      margin-top: 0;
      margin-bottom: 24px;
      color: var(--primary-font-color);
    }

    p {
      color: var(--secondary-font-color);
      margin-bottom: 60px;
      margin-top: 0;
    }
  }
}

.communityLinkWrapper {
  display: grid;
  gap: 16px;
  text-align: left;
  grid-template-columns: 24px 1fr;
  height: 100%;
  text-decoration: none;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }

  h4 {
    margin-bottom: 6px;
    margin-top: 0;
    line-height: 110%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Barlow';
    color: var(--primary-font-color);
  }

  .body {
    color: var(--secondary-font-color);
    margin: 0;
  }

  .link {
    color: var(--indigo-link-color);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 88%;
    /* 15.84px */
  }
}

.communityLinksRow {
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(3, minmax(0, 1fr));

  i {
    margin-top: 4px;
    color: var(--indigo-600);
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: none;
  }

  @media only screen and (min-width: 940px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: none;
  }
}

.communityLinkCard {
  box-shadow: 0px 5px 3px rgba(23, 43, 77, 0.04), 0px 8px 5px rgba(23, 43, 77, 0.08);
  background: var(--shadow-card-bg);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  max-width: 100%;
  margin: 0;
  transition: transform 100ms ease;

  &:hover {
    transform: scale(1.02);
  }

  .content {
    padding: 32px 24px;
    text-align: left;

    p {
      color: #4a5568;
    }

    a {
      text-decoration: none;
    }

    &:hover .link>span:first-of-type {
      text-decoration: underline;
    }
  }
}