.editLink {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  color: var(--gray-600) !important;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: var(--gray-800) !important;
  }
}
:root[data-theme="dark"] {
  .editLink {
    &:hover {
      color: var(--gray-400) !important;
    }
  }
}
