@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:400,700|Rubik:400,500|Roboto+Mono:400,500,700&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f7fafc;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: #1a202c;
}
a {
  color: #3182ce !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.heading2 {
  font-weight: 600;
  margin-top: 2rem;
}

.heading2:focus::before,
.heading2:hover::before {
  content: "#";
  margin-left: -20px;
  margin-right: 5px;
  color: #cbd5e0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin: 1.5rem 0;
}

p,
li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

table {
  width: 100%;
  word-break: normal;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  border-spacing: 0px;
  margin: 1.5rem 0px;
}

table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
}

table td {
  padding: 16px 24px;
  border-top: 1px solid rgb(204, 217, 223);
}

:not(pre) > code[class*="language-text"],
pre[class*="language-text"] {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #edf2f7;
  border-radius: 5px;
  color: #1a202c;
  padding: 4px 6px;
}

pre[class*="language-"] {
  background: #f7fafc;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
}

code[class*="language-"] {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4a5568;
}

.token.comment {
  color: #a0aec0;
}

hr {
  border: 0.5px solid #e2e8f0;
  margin: 2rem 0;
  margin-left: -40px;
  margin-right: -40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding-left: 20px;
  text-indent: -1em;
  margin-top: 10px;
}

.list li::before {
  content: "\2022";
  color: #a0aec0;
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
  vertical-align: middle;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
