html {
  font-family: 'Inter', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  /* Issue 894 */
  font-size: 16px;
}

body {
  /* Generic */
  --main-font-color: #1a202c;
  --main-bgd-color: #f7fafc;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);
}

::selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  color: var(--white-color);
  background: var(--selection-bgd-color);
}

pre {
  margin: 0;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

h1.inline-code {
  display: inline-block;
}

h2 {
  margin: 0;
}

section h2,
section h3,
section h4,
section h5,
section h6 {
  margin-top: 2em;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-font-color);
}

.title-link {
  margin-left: -24px;
  margin-right: 5px;
  opacity: 0;
}

h2:hover .title-link,
h3:hover .title-link,
h4:hover .title-link,
h5:hover .title-link,
h6:hover .title-link {
  opacity: 1;
}

h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin: 1rem 0;
}

p,
li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

kbd {
  background: var(--white-color);
  box-shadow: 0px 1px 1px rgba(47, 55, 71, 0.6), 0px 1px 4px rgba(47, 55, 71, 0.2);
  border-bottom: 1px solid rgba(47, 55, 71, 0.2);
  border-radius: 4px;
  padding: 2px 6px;
  vertical-align: baseline;
  font-size: 14px;
  font-family: 'JetBrainsMono';
}

table {
  width: 100%;
  word-break: normal;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  border-spacing: 0px;
  margin: 0 0px 20px;
  white-space: inherit;
}

table * {
  font-size: 13px;
}

table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
}

table td {
  padding: 12px;
  border-top: 1px solid var(--border-color);
  vertical-align: top;
}

table code {
  white-space: nowrap;
}

blockquote {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--code-inner-color);
  padding-left: 2rem;
  padding-bottom: 8px;
  padding-bottom: 8px;
  margin: 2rem 0px;
  position: relative;
}

blockquote pre {
  font-weight: normal;
}

blockquote::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  left: 0px;
  background: var(--code-bgd-color);
  border-radius: 5px;
}

blockquote code {
  color: var(--code-inner-color);
}

blockquote p {
  margin: 0;
}

hr {
  margin: 2rem 0;
  margin-left: -40px;
  margin-right: -40px;
  border: 0;
  height: 1px;
  background: var(--border-color);
}

.list {
  list-style: none;
  padding: 0;
  margin-left: 24px;
  list-style-image: url('../images/list-dot.png');
}

.list li {
  padding-left: 8px;
  /* text-indent: -1em; */
  margin-top: 10px;
}

.o-list li {
  margin-top: 10px;
}

.clearfix {
  clear: both;
}

.list li pre .line-no {
  width: 45px;
}

@media (min-width: 0px) and (max-width: 767px) {
  hr {
    margin-left: -24px;
    margin-right: -24px;
  }
  .pre-highlight {
    margin-right: -24px;
    margin-left: -24px;
  }

  .pre-highlight pre {
    border-radius: 0;
  }

  .tab-content .copy-button {
    right: 40px;
  }

  .list li pre .pre-highlight {
    margin-left: 0;
    margin-right: 0;
  }
}

/* TEMP */

a.question,
span.concept,
span.api,
span.guide {
  background: #bee3f8;
  border-radius: 4px;
  padding: 2px;
  color: #3182ce;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
}

span.api::before {
  content: 'API';
}

span.concept::before {
  content: 'CONCEPT';
}

span.guide::before {
  content: 'GUIDE';
}

a.question {
  border-radius: 10px;
  padding: 2px 6px;
}

a.question::before {
  content: '?';
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 


nav.toc {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
}

ul.toc-list > li {
  list-style-type: none;
  margin-left: 24px;
  font-size: 13px;
}

ul.toc-list > li > a {
  color: #c2c2c2;
  text-decoration: none;
  border-bottom: 0;
  transition: 1s all ease-in-out;
}

ul.toc-list > li.is-current > a {
  color: black !important;
} */

/*
  We want to hide YouTube videos in Percy snapshots since they can provide
  unstable results.

  https://docs.percy.io/docs/percy-specific-css#percy-css-media-query
*/
@media only percy {
  iframe {
    visibility: hidden;
  }
}
