@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:400,700|Rubik:400,500|Roboto+Mono:400,500,700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f7fafc;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: #1a202c;
}

*:focus {
  outline: none;
}

a {
  color: #3182ce !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h2 {
  margin: 0;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-weight: 600;
  margin-top: 2rem;
  text-decoration: none;
  color: #1a202c !important;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin: 1.5rem 0;
}

p,
li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

table {
  width: 100%;
  word-break: normal;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  border-spacing: 0px;
  margin: 1.5rem 0px;
  white-space: nowrap;
}

table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 24px;
}

table td {
  padding: 16px 24px;
  border-top: 1px solid rgb(204, 217, 223);
}

:not(pre) > code[class*='language-text'],
:not(pre) > code {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  background: #edf2f7;
  border-radius: 5px;
  color: #1a202c;
  padding: 2px 6px;
}

pre[class*='language-'] {
  background: #f7fafc;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
}

code[class*='language-'] {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #4a5568;
}

.token.comment {
  color: #a0aec0;
}

blockquote {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #718096;
  padding-left: 2rem;
  padding-bottom: 8px;
  padding-bottom: 8px;
  margin: 2rem 0px;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  left: 0px;
  background: #edf2f7;
  border-radius: 5px;
}

blockquote code {
  color: #718096 !important;
}

blockquote p {
  margin: 0;
}

hr {
  border: 0.5px solid #e2e8f0;
  margin: 2rem 0;
  margin-left: -40px;
  margin-right: -40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding-left: 20px;
  text-indent: -1em;
  margin-top: 10px;
}

.list li::before {
  content: '\2022';
  color: #a0aec0;
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
  vertical-align: middle;
}

.clearfix {
  clear: both;
}

/* @media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
