@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:400,700|Rubik:400,500|Roboto+Mono:400,500,700&display=swap');
/* TODO : Create a color theme file */
html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f7fafc;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: #1a202c;
}

::selection {
  color: white;
  background: rgb(12, 52, 75);
}

*:focus {
  outline: none;
}

a {
  color: #3182ce !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h2 {
  margin: 0;
}

section h2,
section h3,
section h4,
section h5,
section h6 {
  font-weight: 600;
  text-decoration: none;
  color: #1a202c !important;
}

.title-link {
  margin-left: -24px;
  margin-right: 5px;
  opacity: 0;
}

h2:hover .title-link,
h3:hover .title-link,
h4:hover .title-link,
h5:hover .title-link,
h6:hover .title-link {
  opacity: 1;
}

h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit !important;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin: 1.5rem 0;
}

p,
li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

table {
  width: 100%;
  word-break: normal;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  border-spacing: 0px;
  margin: 0 0px 20px;
  white-space: nowrap;
}

table * {
  font-size: 13px !important;
}

table th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
}

table td {
  padding: 12px;
  border-top: 1px solid rgb(204, 217, 223);
}

code.inline-code {
  display: inline;
  vertical-align: middle;
  padding: 0.2em 0.2em 0.3em 0.2em;
  background: #edf2f7;
  font-size: 14px;
  font-feature-settings: 'clig' 0, 'calt' 0;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
  font-family: 'Roboto Mono';
  font-style: normal;
  line-height: 24px;
  border-radius: 5px;
  color: #1a202c;
}

pre[class*='language-'] code {
  font-family: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
}

pre[class*='language-'] {
  background: #f7fafc !important;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  overflow: auto;
  color: #4a5568 !important;
}

code[class*='language-'] {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  background: #f7fafc !important;
}

pre code * {
  font-size: 14px;
}

.token.comment {
  color: #a0aec0 !important;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #5a67d8 !important;
}

blockquote {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #718096;
  padding-left: 2rem;
  padding-bottom: 8px;
  padding-bottom: 8px;
  margin: 2rem 0px;
  position: relative;
}

blockquote::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  left: 0px;
  background: #edf2f7;
  border-radius: 5px;
}

blockquote code {
  color: #718096 !important;
}

blockquote p {
  margin: 0;
}

hr {
  border: 0.5px solid #e2e8f0;
  margin: 2rem 0;
  margin-left: -40px;
  margin-right: -40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding-left: 20px;
  text-indent: -1em;
  margin-top: 10px;
}

.list li::before {
  content: '\2022';
  color: #a0aec0;
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
  vertical-align: middle;
}

.clearfix {
  clear: both;
}

/* @media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
