.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.08em;
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  .newsletterRow {
    padding: 32px 0px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 64px;
    border-top: 1px solid #2d3748;
    border-bottom: 1px solid #2d3748;
  }
}
@media only screen and (min-width: 1024px) {
  .title {
    margin-bottom: 0;
  }
  .newsletterRow {
    margin-top: 32px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

.footer--dark {
  --ifm-footer-background-color: var(--gray-1000);
  padding: 0;
}
.container {
  --ifm-container-width-xl: 1248px;
  padding: 40px 2rem 100px;
  max-width: 1248px;
  margin: auto;
  width: 100%;
}

.footer__link-item {
  line-height: unset;
  text-decoration: none;
  i {
    margin: 5px 0px 0px 3px;
  }
  :hover {
    text-decoration: none;
    color: var(--brand-primary);
  }
}

.footer__bottom {
  > div:not(.footer__copyright) {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  > div:not(.footer__copyright) > a {
    opacity: 1;
  }
}
