.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.08em;
  margin-top: 0px;
}

.row {
  display: flex;
  > div:first-child{
    position: absolute;
  }
}

.logo {
  position: absolute;
  height: 40.3px;
  width: 129px;
  img {
    width: 100%;
    height: 100%;
  }
  > a {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .newsletterRow {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 64px;
    border-top: 1px solid #2d3748;
    border-bottom: 1px solid #2d3748;
  }
}
@media only screen and (min-width: 1024px) {
  .title {
    margin-bottom: 0;
  }
  .newsletterRow {
    margin-top: 32px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

.footer--dark {
  --ifm-footer-background-color: var(--gray-1000);
  padding: 0;
}
.container {
  --ifm-container-width-xl: 1248px;
  padding: 40px 24px 100px;
  max-width: 1288px;
  margin: auto;
  width: 100%;
}

.footer__link-item {
  line-height: unset;
  text-decoration: none;
  i {
    margin: 5px 0px 0px 3px;
  }
  :hover {
    text-decoration: none;
    color: var(--brand-primary);
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 24px;
  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
  .complianceLogos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    @media (min-width: 768px) {
        width: fit-content;
        gap: 56px;
    }
    img {
      margin: 0;
    }
  }
}
