.title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.08em;
    margin-top: 0px;
}
@media only screen and (min-width: 768px) {
.newsletterRow {
    padding: 64px 0px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 64px;
    border-top: 1px solid #2d3748;
    border-bottom: 1px solid #2d3748;
}
}
@media only screen and (min-width: 1024px) {
    .title {
        margin-bottom: 0;
    }
.newsletterRow {
    margin-top: 64px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
}
