.dropdown {
  font-size: 16px;
  font-weight: 400;
}

.icon {
  height: min-content;
  margin: auto 0 auto 8px !important;
}

.col {
  @media (max-width: 996px) {
    flex-basis: calc(50% - 4px);
    padding: 0;
  }
}
