.dropdown {
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.icon {
  height: min-content;
  margin: auto 0 auto 8px !important;
}

.col {
  flex: 1 0 !important;
  @media (max-width: 768px) {
    flex-basis: calc(50% - 4px) !important;
    padding: 0;
  }
  &.socialColWrapper {
    @media (max-width: 940px) {
      flex-basis: 100% !important;
    }
  }
}

.socialCol {
  margin: 64px -8px 0 -8px;
  padding: 0;
  display: flex;
  gap: 16px;
  @media (max-width: 940px) {
    margin: 0;
    justify-content: flex-end;
  }
}

