:root {
    --if-alert-color: #2D3748;
    --ifm-alert-padding-horizontal: 27px;
    --ifm-alert-padding-vertical: 12px;
}
.admonitionHeading_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module:not(:last-child) {
    margin-bottom: -10px;
    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.admonitionIcon_node_modules-\@docusaurus-theme-classic-lib-theme-Admonition-Layout-styles-module svg {
    height: 24px;
    width: auto;
}
.alert {
    --ifm-link-hover-color: #2E5297;
    border-top: 2px solid var(--ifm-alert-border-color);
    border-bottom: 2px solid var(--ifm-alert-border-color);
    border-right: 2px solid var(--ifm-alert-border-color);
    border-left: 10px solid var(--ifm-alert-border-color);
}
.alert a {
    text-decoration-color: var(--link-color);
}
.alert a:hover {
    color: var(--ifm-link-hover-color) !important;
    text-decoration: underline;
    text-decoration-color: var(--ifm-link-hover-color) !important;
}
[data-theme='light'] .alert--warning {
    --ifm-alert-background-color: #FFFAF0;
    --ifm-alert-background-color-highlight: rgba(255, 186, 0, 0.15);
    --ifm-alert-foreground-color: #DD6B20;
    --ifm-alert-border-color: #F6AD55;
}
[data-theme='light'] .alert--info {
    --ifm-alert-background-color: var(--gray-100);
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: var(--gray-600);
    --ifm-alert-border-color: #CBD5E0;
}

[data-theme='light'] .alert--success {
    --ifm-alert-background-color: #D9F9F6;
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: #38A169;
    --ifm-alert-border-color: #68D391;
}

[data-theme='light'] .alert--danger {
    --ifm-alert-background-color: #FFF5F5;
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: #E53E3E;
    --ifm-alert-border-color: #FC8181;
}

[data-theme='dark'] {
    --if-alert-color: white;
}
[data-theme='dark'] .alert {
    --ifm-link-hover-color: #5196d7;
}
[data-theme='dark'] .alert--warning {
    --ifm-alert-background-color: rgba(246, 173, 85, 0.1);
    --ifm-alert-background-color-highlight: rgba(255, 186, 0, 0.15);
    --ifm-alert-foreground-color: #F6AD55;
    --ifm-alert-border-color: #DD6B20;
}
[data-theme='dark'] .alert--info {
    --ifm-alert-background-color: #2D3748;
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: var(--gray-400);
    --ifm-alert-border-color: #718096;
}

[data-theme='dark'] .alert--success {
    --ifm-alert-background-color: rgba(113, 232, 223, 0.1);
    --ifm-alert-background-color-highlight: rgba(113, 232, 223, 0.1);
    --ifm-alert-foreground-color: #68D391;
    --ifm-alert-border-color: #38A169;
}

[data-theme='dark'] .alert--danger {
    --ifm-alert-background-color: rgba(252, 129, 129, 0.1);
    --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
    --ifm-alert-foreground-color: #FC8181;
    --ifm-alert-border-color: #E53E3E;
}

.alert > div:last-child {
    color: var(--ifm-alert-color);
}
