.wrapper {
  margin-bottom: 1rem;
}

.tab {
  position: relative;
  overflow: hidden;
  .tabContent {
    transition: max-height 0.35s;
  }
  &:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    left: 0px;
    background: #f7fafc;
    border-radius: 4px;
  }
  p {
    margin-top: 0.5rem;
  }
}

.label {
  position: relative;
  display: block;
  color: #0c344b;
  font-weight: 600;
  line-height: 1.5;
  padding-left: 2rem;
  cursor: pointer;
  @media (prefers-color-scheme: dark) {
    color: #f7fafc;
  }
}

.tabContent {
  max-height: 0;
  overflow: hidden;
  color: #2d3748;
  transition:
    max-height 0.35s,
    padding 0.35s;
  padding-left: 36px;
  padding-bottom: 0;
  @media (prefers-color-scheme: dark) {
    color: #f7fafc;
  }
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  &:checked ~ .tab-content {
    max-height: 2000px;
    padding-bottom: 0.5rem;
  }
}
