/* SEARCH BAR STYLING */

[data-theme="light"] .DocSearch mark {
  background: rgb(235, 248, 255);
  padding: 2px;
  font-weight: bold;
  color: rgb(49, 130, 206) !important;
}

[data-theme="dark"] .DocSearch mark {
  background: rgba(235, 248, 255, 0.05);
  padding: 2px;
  font-weight: bold;
  color: rgb(49, 130, 206) !important;
}

.DocSearch-Cancel {
  --docsearch-highlight-color: var(--ifm-font-color-base);
  margin: auto 0;
}

.DocSearch-HitsFooter > a {
  display: none;
}

.DocSearch-Hit-source {
  display: none;
}
.DocSearch-Hit-icon {
  display: none;
}
.DocSearch-Hit a {
  /* padding: var(--docsearch-spacing); */
}
.DocSearch-SearchBar {
  margin-bottom: 16px;
}
.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
  width: 16px !important;
  height: 16px !important;
}
.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg path {
  stroke: rgb(74, 85, 104);
}

[data-theme="light"]
  .searchQueryInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module,
.searchVersionInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module {
  border-color: rgba(226, 232, 240, 1) !important;
}
.searchQueryInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module:focus,
.searchVersionInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module:focus {
  border-color: rgba(113, 128, 150, 1) !important;
}
[data-theme="dark"]
  .searchQueryInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module,
.searchVersionInput_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module {
  border-color: rgba(9, 10, 21, 1) !important;
}

.algoliaLogo_node_modules-\@docusaurus-theme-search-algolia-lib-theme-SearchPage-styles-module {
  filter: grayscale(100%);
  opacity: 0.4;
}

html[data-theme="light"] {
  --ifm-toc-border-color: rgba(226, 232, 240, 1);
  --docsearch-highlight-color: var(--docsearch-hit-background);
  --docsearch-modal-width: 1248px;

  --docsearch-text-color: var(--ifm-font-color-base);
  /* --docsearch-highlight-color: var(--teal-600); */
  --docsearch-searchbox-shadow: inset 0 0 0 2px #718096;
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--gray-200);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white) !important;
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: rgb(49, 130, 206);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}
html[data-theme="dark"] {
  --docsearch-modal-width: 1248px;

  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--gray-500);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: #090a15;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--gray-800) !important;
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: rgb(49, 130, 206);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: #1a202c;
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  --docsearch-highlight-color: var(--docsearch-hit-background);
  --docsearch-searchbox-shadow: inset 0 0 0 2px #718096;
  --docsearch-footer-shadow: 0px -4px 8px 0px #00000033, 0px 1px 0px 0px #494c6a80 inset;
  --docsearch-modal-shadow: 0px 3px 8px 0px #000309, 1px 1px 0px 0px #2c2e40 inset;
}
@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] {
    --docsearch-modal-background: #090a15;
    --docsearch-footer-background: #1a202c;
    --docsearch-footer-shadow: 0px -4px 8px 0px #00000033, 0px 1px 0px 0px #494c6a80 inset;
    --docsearch-modal-shadow: 0px 3px 8px 0px #000309, 1px 1px 0px 0px #2c2e40 inset;
    --docsearch-muted-color: var(--gray-500);
    --docsearch-searchbox-background: var(--ifm-background-color);

    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
      0 2px 2px 0 rgba(3, 4, 9, 0.3);
    --docsearch-searchbox-focus-background: var(--gray-800) !important;
  }
  html[data-theme="light"] {
    --docsearch-footer-background: var(--ifm-color-white);
    --docsearch-modal-background: var(--gray-200);
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-searchbox-background: var(--ifm-color-secondary);

    --docsearch-searchbox-focus-background: var(--ifm-color-white) !important;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
      0 1px 2px 1px rgba(30, 35, 90, 0.4);
  }
}
