[data-theme="light"] {
  .lightImg {
    display: block;
  }
  .darkImg {
    display: none;
  }
}
[data-theme="dark"] {
  .lightImg {
    display: none;
  }
  .darkImg {
    display: block;
  }
}

.borderBox {
  padding: 24px 24px 32px 24px;
  border-radius: 8px;
  background: var(--main-bgd-color);
  a {
    text-decoration: underline;
  }
  > * {
    font-family: Inter;
    text-align: left;
    letter-spacing: 0em;
    line-height: 20px;
    font-size: 14px;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

.boxTitle {
  font-family: Barlow, system-ui, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem !important;
  line-height: 48px;
  letter-spacing: -0.8px;
}

.grid {
  gap: 16px;
  display: grid;
  margin-top: 24px;
  grid-template-columns: none;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  a {
    border-color: var(--ifm-btn-border-color);
    background: transparent;
    color: var(--main-font-color);
    &:hover {
      border-color: var(--ifm-btn-border-color-active);
      background: transparent;
    }
  }
}

.linkCardWrapper {
  border: 1px solid var(--border-color);
  padding: 20px 24px;
  border-radius: 8px;
  color: var(--main-font-color);
  transition: all 300ms ease-out;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  background: transparent;
  &:hover {
    border-color: var(--ifm-btn-border-color-active);
    background: transparent;
  }
  .title {
    display: inline-block;
    h6 {
      font-size: 18px;
      display: inline-block;
      margin: 0;
      font-family: Barlow;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    margin-bottom: 0;
    text-align: left;
  }
}

.tab {
  padding: 15px;
  background-color: var(--main-bgd-color);
  border: 1px solid var(--indigo-600);
  border-radius: 0px 8px 8px 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  p {
    margin-top: 0;
  }
}

.squareWrapper {
  width: 90px;
  height: 90px;
  text-decoration: none;
  padding: 22px;
  display: inline-block;
  border: 1px solid var(--border-color);
  background: var(--header-bg-color);
  border-radius: 8px;
  transition: all 300ms ease-out;
  cursor: pointer;

  border-color: var(--ifm-btn-border-color);
  background: transparent;
  color: var(--main-font-color);
  &:hover {
    border-color: var(--ifm-btn-border-color-active);
    background: transparent;
  }
  &:active,
  &:focus {
    background: var(--code-inline-bgd-color);
    border-color: var(--indigo-700);
  }
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-fit: contain;
  }
}

.list {
  display: grid;
  gap: 16px;
  margin-top: 16px;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
  @media (min-width: 1240px) {
    grid-template-columns: repeat(6, auto);
  }
  @media (min-width: 1025px) and (max-width: 1240px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (min-width: 768px) and (max-width: 1025px) {
    grid-template-columns: repeat(6, auto);
  }
  @media (min-width: 480px) and (max-width: 768px) {
    grid-template-columns: repeat(4, auto);
  }
  @media (min-width: 410px) and (max-width: 479px) {
    grid-template-columns: repeat(3, auto);
  }
}
