/* You can override the default Infima variables here. */
/* PRIMITIVES */
.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module {
  --docusaurus-details-decoration-color: transparent !important;
}

:root {
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-modal-width: 1248px;
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 14px;
  --ifm-code-background: #edf2f7;
  --ifm-code-padding-horizontal: 0.3rem;
  --ifm-font-family-monospace: "JetBrainsMono";
  --ifm-menu-link-sublist-icon: url("/icons/triangle-right.svg");
  --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
  --navbar-teal-color: rgb(24, 115, 103);
  --navbar-tab-bg: rgb(237, 242, 247);
  --navbar-indigo-color: rgb(76, 81, 191);
  --ifm-navbar-height: 80px;
  --ifm-color-content: #2d3748;
  --ifm-breadcrumb-spacing: 4px;
  --ifm-navbar-link-color: rgb(45, 55, 72);
  --ifm-footer-background-color: rgb(26, 32, 44);
  --ifm-navbar-link-hover-color: rgb(45, 55, 72);
  --ifm-link-hover-decoration: none;
  --ifm-hover-overlay: var(--indigo-700);
  --ifm-color-primary: var(--indigo-600);
  --ifm-heading-color: var(--ifm-color-content);
  --ifm-menu-color-background-active: var(--main-bgd-color);
  --ifm-navbar-sidebar-width: 384px;
  --ifm-spacing-horizontal: 8px;
  --ifm-pagination-nav-color-hover: #718096;
  --ifm-card-background-color: white;
  --ifm-link-hover-color: #2e5297;
  --code-bg: var(--gray-200);
  --docusaurus-added-code-line-bg: rgba(71, 187, 120, 0.1);
  --docusaurus-deleted-code-line-bg: rgba(229, 62, 62, 0.1);
  --docusaurus-edited-code-line-bg: rgba(10, 104, 255, 0.2);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.05);
  --ifm-blockquote-border-color: transparent;
  --ifm-toc-padding-horizontal: 1rem;
  --docusaurus-details-decoration-color: transparent;
  --ifm-table-stripe-background: transparent;

  --ifm-btn-border-color-active: #718096;
  --ifm-btn-border-color: #e2e8f0;

  --ifm-tabs-color-active: #fff;
  --ifm-tabs-bg-color: #e2e8f0;
  --ifm-tabs-bg-color-active: #718096;
  --ifm-tabs-color: #718096;
  --main-font-color: #2d3748;
  --primary-font-color: var(--gray-800);
  --secondary-font-color: #4a5568;
  --icon-svg-color: #5a67d8;
  --icon-wrapper-bg: rgb(235, 244, 255);
  --teal-link-color: #16a394;
  --indigo-link-color: #5a67d8;
  --teal-card-bg: linear-gradient(102deg, #fff 6.22%, #e8fffd 87.23%);
  --indigo-card-bg: linear-gradient(102deg, #fff 6.22%, #f4f5ff 87.23%);
  --orm-card-bg: #fff;
  --grid-border-color: #cbd5e0;
  --community-bgd-color: var(--gray-100);
  --shadow-card-bg: #fff;
  --badge-bg-color: rgb(237, 242, 247);
  --badge-color: rgb(160, 174, 192);

  --main-bgd-color: #f7fafc;
  --header-bg-color: #ffffff;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --footer-bottom-height: 75px;
  --brand-primary: rgb(90, 103, 216);
  --ifm-hover-overlay: var(--indigo-700);
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  --ifm-color-primary: var(--indigo-600);
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);

  --homepage-header-bg: rgb(247, 250, 252);
  /* Colors */
  --indigo-100: #ebf4ff;
  --indigo-200: #c3dafe;
  --indigo-300: #a3bffa;
  --indigo-400: #7f9cf5;
  --indigo-500: #667eea;
  --indigo-600: #5a67d8;
  --indigo-700: #4c51bf;
  --indigo-700: #434190;

  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --gray-1000: #090a15;

  @media (max-width: 996px) {
    --ifm-menu-link-sublist-icon: url("/icons/chevron-up-solid.svg");
    --ifm-navbar-padding-horizontal: 0;
  }
}

:root[data-theme="light"] {
  --docusaurus-added-code-line-bg: rgba(71, 187, 120, 0.1);
  --docusaurus-deleted-code-line-bg: rgba(229, 62, 62, 0.1);
  --docusaurus-edited-code-line-bg: rgba(10, 104, 255, 0.2);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* PRIMITES WITH THEME DEFINED BY TOGGLER */
html[data-theme="dark"] {
  --docsearch-searchbox-background: var(--gray-900) !important;
  --ifm-blockquote-border-color: transparent;
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-link-color: #e2e8f0;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --code-bg: #1a202c;
  --ifm-hover-overlay: var(--indigo-700);
  /* Generic */
  --ifm-btn-border-color-active: #718096;
  --ifm-btn-border-color: #2d3748;
  --ifm-tabs-color: #a0aec0;
  --ifm-tabs-bg-color: #1a202c;
  --ifm-tabs-bg-color-active: #2d3748;
  --main-font-color: #e2e8f0;
  --primary-font-color: rgb(247, 250, 252);
  --secondary-font-color: rgb(203, 213, 224);
  --icon-wrapper-bg: rgb(90, 103, 216);
  --icon-svg-color: #f7fafc;
  --teal-link-color: #71e8df;
  --indigo-link-color: #7f9cf5;
  --teal-card-bg: linear-gradient(128deg, #090a15 31.75%, #0d3a38 112.39%);
  --indigo-card-bg: linear-gradient(128deg, #090a15 31.75%, #181a48 112.39%);
  --orm-card-bg: var(--gray-900);
  --grid-border-color: var(--gray-700);
  --community-bgd-color: var(--gray-900);
  --shadow-card-bg: var(--gray-900);
  --badge-color: rgb(247, 250, 252);
  --badge-bg-color: rgb(45, 55, 72);
  --ifm-card-background-color: var(--gray-900);
  --ifm-link-hover-color: #5196d7;
  --ifm-table-stripe-background: transparent;

  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --header-bg-color: #1a202c;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --code-bgd-color: #2d3748;
  --code-inline-bgd-color: #2d3748;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-background-color: var(--gray-1000);
  --ifm-navbar-link-color: #e2e8f0;
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #4a5568;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);
  --homepage-header-bg: var(--gray-900);
}

/* PRIMITES WITH THEME DEFINED */
@media (prefers-color-scheme: dark) {
  /* Theme: Dark OS + Light docs = Light docs */
  :root[data-theme="light"] {
    --docsearch-searchbox-background: var(--ifm-color-secondary);
    --ifm-color-primary: #2e8555;
    --ifm-background-color: #fff;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --main-font-color: #2d3748;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 14px;
    --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
    --navbar-teal-color: rgb(24, 115, 103);
    --navbar-tab-bg: rgb(237, 242, 247);
    --navbar-indigo-color: rgb(76, 81, 191);
    --ifm-navbar-height: 80px;
    --ifm-color-content: #2d3748;
    --ifm-breadcrumb-spacing: 4px;
    --ifm-navbar-link-color: rgb(45, 55, 72);
    --ifm-footer-background-color: rgb(26, 32, 44);
    --ifm-navbar-link-hover-color: rgb(45, 55, 72);
    --ifm-link-hover-decoration: none;
    --ifm-hover-overlay: var(--indigo-700);
    --ifm-color-primary: var(--indigo-600);
    --ifm-heading-color: var(--ifm-color-content);
    --ifm-navbar-background-color: #fff;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
      0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --code-bg: var(--gray-200);
    --ifm-tabs-color: #718096;
    --ifm-tabs-bg-color: #e2e8f0;
    --ifm-tabs-bg-color-active: #718096;
    --ifm-btn-border-color-active: #718096;
    --ifm-btn-border-color: #e2e8f0;

    --ifm-card-background-color: white;
    --main-font-color: #2d3748;
    --secondary-font-color: #4a5568;
    --primary-font-color: var(--gray-800);
    --icon-wrapper-bg: rgb(235, 244, 255);
    --icon-svg-color: #5a67d8;
    --teal-link-color: #16a394;
    --indigo-link-color: #5a67d8;
    --teal-card-bg: linear-gradient(102deg, #fff 6.22%, #e8fffd 87.23%);
    --indigo-card-bg: linear-gradient(102deg, #fff 6.22%, #f4f5ff 87.23%);
    --orm-card-bg: #fff;
    --grid-border-color: #cbd5e0;
    --community-bgd-color: var(--gray-100);
    --shadow-card-bg: #fff;
    --badge-bg-color: rgb(237, 242, 247);
    --badge-color: rgb(160, 174, 192);

    --main-bgd-color: #f7fafc;
    --header-bg-color: #ffffff;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #3182ce;
    --border-color: #e2e8f0;
    --code-bgd-color: #f6f8fa;
    --code-inline-bgd-color: #edf2f7;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --ifm-footer-background-color: rgb(26, 32, 44);
    --footer-bottom-height: 75px;
    --ifm-link-hover-color: #2e5297;
    --brand-primary: rgb(90, 103, 216);
    --ifm-hover-overlay: var(--indigo-700);
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #e2e8f0;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    --ifm-color-primary: var(--indigo-600);
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);

    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    color: var(--main-font-color);
    background-color: var(--white-color);
    --homepage-header-bg: rgb(247, 250, 252);
    /* Colors */
    --indigo-100: #ebf4ff;
    --indigo-200: #c3dafe;
    --indigo-300: #a3bffa;
    --indigo-400: #7f9cf5;
    --indigo-500: #667eea;
    --indigo-600: #5a67d8;
    --indigo-700: #4c51bf;
    --indigo-700: #434190;

    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e0;
    --gray-500: #a0aec0;
    --gray-600: #718096;
    --gray-700: #4a5568;
    --gray-800: #2d3748;
    --gray-900: #1a202c;
    --gray-1000: #090a15;
  }

  :root[data-theme="dark"] {
    --docsearch-searchbox-background: var(--gray-900) !important;
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --navbar-teal-color: rgb(113, 232, 223);
    --navbar-tab-bg: rgb(45, 55, 72);
    --navbar-indigo-color: rgb(127, 156, 245);
    --ifm-color-content: rgb(247, 250, 252);
    --ifm-navbar-link-color: #e2e8f0;
    --ifm-footer-background-color: rgb(26, 32, 44);
    --ifm-hover-overlay: var(--indigo-700);
    /* Generic */

    --ifm-btn-border-color-active: #718096;
    --ifm-btn-border-color: #2d3748;
    --ifm-tabs-color: #a0aec0;
    --ifm-tabs-bg-color: #1a202c;
    --ifm-tabs-bg-color-active: #2d3748;
    --main-font-color: #e2e8f0;
    --primary-font-color: rgb(247, 250, 252);
    --secondary-font-color: rgb(203, 213, 224);
    --icon-wrapper-bg: rgb(90, 103, 216);
    --icon-svg-color: #f7fafc;
    --teal-link-color: #71e8df;
    --indigo-link-color: #7f9cf5;
    --teal-card-bg: linear-gradient(128deg, #090a15 31.75%, #0d3a38 112.39%);
    --indigo-card-bg: linear-gradient(128deg, #090a15 31.75%, #181a48 112.39%);
    --orm-card-bg: var(--gray-900);
    --grid-border-color: var(--gray-700);
    --community-bgd-color: var(--gray-900);
    --shadow-card-bg: var(--gray-900);
    --badge-color: rgb(247, 250, 252);
    --badge-bg-color: rgb(45, 55, 72);
    --code-bg: #1a202c;

    --ifm-card-background-color: var(--gray-900);
    --main-bgd-color: #1a202c;
    --border-color: #2d3748;
    --header-bg-color: #1a202c;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #3182ce;
    --ifm-link-hover-color: #5196d7;
    --code-bgd-color: #2d3748;
    --code-inline-bgd-color: #2d3748;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --navbar-teal-color: rgb(113, 232, 223);
    --navbar-tab-bg: rgb(45, 55, 72);
    --navbar-indigo-color: rgb(127, 156, 245);
    --ifm-color-content: rgb(247, 250, 252);
    --ifm-navbar-background-color: var(--gray-1000);
    --ifm-navbar-link-color: #e2e8f0;
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #4a5568;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);

    --homepage-header-bg: var(--gray-900);
  }
}

html[data-theme="dark"] {
  --ifm-background-color: var(--gray-1000);
  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --white-color: white;
}
