
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --main-font-color: #2d3748;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-link-sublist-icon: url("/icons/triangle-right.svg");
  --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
  --navbar-teal-color: rgb(24, 115, 103);
  --navbar-tab-bg: rgb(237, 242, 247);
  --navbar-indigo-color: rgb(76, 81, 191);
  --ifm-navbar-height: 80px;
  --ifm-color-content: rgb(26, 32, 44);
  --ifm-breadcrumb-spacing: 4px;
  --ifm-navbar-link-color: rgb(45, 55, 72);
  --ifm-footer-background-color: rgb(26, 32, 44);
  --ifm-navbar-link-hover-color: rgb(45, 55, 72);
  --ifm-link-hover-decoration: none;
  --ifm-hover-overlay: var(--indigo-700);
  --ifm-color-primary: var(--indigo-600);
  --ifm-heading-color: var(--ifm-color-content);
  

  --main-font-color: #2d3748;
  --main-bgd-color: #f7fafc;
  --header-bg-color: #ffffff;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --footer-bottom-height: 75px;
  --ifm-link-hover-color: var(--link-color);
  --brand-primary: rgb(90, 103, 216);
  --ifm-hover-overlay: var(--indigo-700);
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  --ifm-color-primary: var(--indigo-600);
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);
  /* Colors */
  --indigo-100: #EBF4FF;
  --indigo-200: #C3DAFE;
  --indigo-300: #A3BFFA;
  --indigo-400: #7F9CF5;
  --indigo-500: #667EEA;
  --indigo-600: #5A67D8;
  --indigo-700: #4C51BF;
  --indigo-700: #434190;

  --gray-100: #F7FAFC;
  --gray-200: #EDF2F7;
  --gray-300: #E2E8F0;
  --gray-400: #CBD5E0;
  --gray-500: #A0AEC0;
  --gray-600: #718096;
  --gray-700: #4A5568;
  --gray-800: #2D3748;
  --gray-900: #1A202C;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-link-color: #e2e8f0;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --ifm-hover-overlay: var(--indigo-700);
  /* Generic */
  --main-font-color: #e2e8f0;
  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --header-bg-color: #1a202c;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #7f9cf5;
  --ifm-link-hover-color: var(--link-color);
  --code-bgd-color: #2d3748;
  --code-inline-bgd-color: #2d3748;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-background-color: #1a202c;
  --ifm-navbar-link-color: #e2e8f0;
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #4a5568;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);
}

:root {
  /* Generic */
  --main-font-color: #2d3748;
  --ifm-background-color: #fff;
  --main-bgd-color: #f7fafc;
  --header-bg-color: #ffffff;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --footer-bottom-height: 75px;
  --ifm-link-hover-color: var(--link-color);
  --brand-primary: rgb(90, 103, 216);
  --ifm-hover-overlay: var(--indigo-700);
  
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  --ifm-color-primary: var(--indigo-600);
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);
  /* Colors */
  --indigo-100: #EBF4FF;
  --indigo-200: #C3DAFE;
  --indigo-300: #A3BFFA;
  --indigo-400: #7F9CF5;
  --indigo-500: #667EEA;
  --indigo-600: #5A67D8;
  --indigo-700: #4C51BF;
  --indigo-700: #434190;

  --gray-100: #F7FAFC;
  --gray-200: #EDF2F7;
  --gray-300: #E2E8F0;
  --gray-400: #CBD5E0;
  --gray-500: #A0AEC0;
  --gray-600: #718096;
  --gray-700: #4A5568;
  --gray-800: #2D3748;
  --gray-900: #1A202C;

  --teal-100: #D9F9F6;
  --teal-200: #B7F4EE;
  --teal-300: #92EFE6;
  --teal-400: #71E8DF;
  --teal-500: #04C8BB;
  --teal-600: #16A394;
  --teal-700: #187367;
  --teal-800: #154F47;
  --white-color: #fff;
}
  
main {
  padding-top: 16px !important;
  padding-left: 32px !important;
}
  
@media (prefers-color-scheme: dark) {
  :root {
    /* Generic */
    --main-font-color: #e2e8f0;
    --ifm-background-color: #1a202c;
    --main-bgd-color: #1a202c;
    --border-color: #2d3748;
    --header-bg-color: #1a202c;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #7f9cf5;
    --ifm-link-hover-color: var(--link-color);
    --code-bgd-color: #2d3748;
    --code-inline-bgd-color: #2d3748;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --navbar-teal-color: rgb(113, 232, 223);
    --navbar-tab-bg: rgb(45, 55, 72);
    --navbar-indigo-color: rgb(127, 156, 245);
    --ifm-color-content: rgb(247, 250, 252);
    --ifm-navbar-background-color: #1a202c;
    --ifm-navbar-link-color: #e2e8f0;
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #4a5568;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);
  }
  :root[data-theme='light'] {
    --ifm-color-primary: #2e8555;
    --ifm-background-color: #fff;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --main-font-color: #2d3748;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-menu-link-sublist-icon: url("/icons/triangle-right.svg");
    --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
    --navbar-teal-color: rgb(24, 115, 103);
    --navbar-tab-bg: rgb(237, 242, 247);
    --navbar-indigo-color: rgb(76, 81, 191);
    --ifm-navbar-height: 80px;
    --ifm-color-content: rgb(26, 32, 44);
    --ifm-breadcrumb-spacing: 4px;
    --ifm-navbar-link-color: rgb(45, 55, 72);
    --ifm-footer-background-color: rgb(26, 32, 44);
    --ifm-navbar-link-hover-color: rgb(45, 55, 72);
    --ifm-link-hover-decoration: none;
    --ifm-hover-overlay: var(--indigo-700);
    --ifm-color-primary: var(--indigo-600);
    --ifm-heading-color: var(--ifm-color-content);
    --ifm-navbar-background-color: #fff;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
  
    --main-font-color: #2d3748;
    --main-bgd-color: #f7fafc;
    --header-bg-color: #ffffff;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #3182ce;
    --border-color: #e2e8f0;
    --code-bgd-color: #f6f8fa;
    --code-inline-bgd-color: #edf2f7;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --ifm-footer-background-color: rgb(26, 32, 44);
    --footer-bottom-height: 75px;
    --ifm-link-hover-color: var(--link-color);
    --brand-primary: rgb(90, 103, 216);
    --ifm-hover-overlay: var(--indigo-700);
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #e2e8f0;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    --ifm-color-primary: var(--indigo-600);
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);
  
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    color: var(--main-font-color);
    background-color: var(--white-color);
    /* Colors */
    --indigo-100: #EBF4FF;
    --indigo-200: #C3DAFE;
    --indigo-300: #A3BFFA;
    --indigo-400: #7F9CF5;
    --indigo-500: #667EEA;
    --indigo-600: #5A67D8;
    --indigo-700: #4C51BF;
    --indigo-700: #434190;
  
    --gray-100: #F7FAFC;
    --gray-200: #EDF2F7;
    --gray-300: #E2E8F0;
    --gray-400: #CBD5E0;
    --gray-500: #A0AEC0;
    --gray-600: #718096;
    --gray-700: #4A5568;
    --gray-800: #2D3748;
    --gray-900: #1A202C;
  }
}

html[data-theme='dark'] {
  --ifm-background-color: #1a202c;
  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --white-color: white;
}

[data-theme='light'] .DocSearch {
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-highlight-color: var(--teal-600);
  --docsearch-searchbox-shadow: inset 0 0 0 2px #18816A;
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--gray-200);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
  @media (prefers-color-scheme: dark) {
    --docsearch-footer-background: var(--ifm-color-white);
    --docsearch-modal-background: var(--gray-200);
    --docsearch-modal-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,0.5),0 3px 8px 0 #555a64;
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-searchbox-background: var(--ifm-color-secondary);
    --docsearch-searchbox-focus-background: var(--ifm-color-white);
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
  }
}
  
[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--gray-500);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: #090A15;
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: #090A15;
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: #1A202C;
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  --docsearch-highlight-color: #16A394;
  --docsearch-searchbox-shadow: inset 0 0 0 2px #18816A;
  --docsearch-footer-shadow: 0px -4px 8px 0px #00000033, 0px 1px 0px 0px #494C6A80 inset;
  --docsearch-modal-shadow: 0px 3px 8px 0px #000309, 1px 1px 0px 0px #2C2E40 inset;
  @media (prefers-color-scheme: dark) {
    --docsearch-modal-background: #090A15;
    --docsearch-footer-background: #1A202C;
    --docsearch-footer-shadow: 0px -4px 8px 0px #00000033, 0px 1px 0px 0px #494C6A80 inset;
    --docsearch-modal-shadow: 0px 3px 8px 0px #000309, 1px 1px 0px 0px #2C2E40 inset;
    --docsearch-muted-color: var(--gray-500);
    --docsearch-searchbox-background: var(--ifm-background-color);

    --docsearch-key-shadow: inset 0 -2px 0 0 #282d55,inset 0 0 1px 1px #51577d,0 2px 2px 0 rgba(3,4,9,0.3);
    --docsearch-searchbox-focus-background: #090A15;
  }
}