
/* You can override the default Infima variables here. */
/* PRIMITIVES */
:root {
  --docsearch-modal-width: 1248px;
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-link-sublist-icon: url("/icons/triangle-right.svg");
  --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
  --navbar-teal-color: rgb(24, 115, 103);
  --navbar-tab-bg: rgb(237, 242, 247);
  --navbar-indigo-color: rgb(76, 81, 191);
  --ifm-navbar-height: 80px;
  --ifm-color-content: rgb(26, 32, 44);
  --ifm-breadcrumb-spacing: 4px;
  --ifm-navbar-link-color: rgb(45, 55, 72);
  --ifm-footer-background-color: rgb(26, 32, 44);
  --ifm-navbar-link-hover-color: rgb(45, 55, 72);
  --ifm-link-hover-decoration: none;
  --ifm-hover-overlay: var(--indigo-700);
  --ifm-color-primary: var(--indigo-600);
  --ifm-heading-color: var(--ifm-color-content);
  --ifm-menu-color-background-active: var(--main-bgd-color);
  --ifm-navbar-sidebar-width: 323px;
  --ifm-spacing-horizontal: 8px;
  --ifm-pagination-nav-color-hover: #718096;
  --ifm-card-background-color: white;
  --ifm-link-hover-color: #2E5297;
  --code-bg: var(--gray-200);


  --ifm-btn-border-color-active: #718096;
  --ifm-btn-border-color: #E2E8F0;
  
  --ifm-tabs-color-active: #fff;
  --ifm-tabs-bg-color: #E2E8F0;
  --ifm-tabs-bg-color-active: #718096;
  --ifm-tabs-color: #718096;
  --main-font-color: #2d3748;
  --primary-font-color: var(--gray-900);
  --secondary-font-color: #4a5568;
  --icon-svg-color: #5A67D8;
  --icon-wrapper-bg: rgb(235, 244, 255);
  --teal-link-color: #16A394;
  --indigo-link-color: #5A67D8;
  --teal-card-bg: linear-gradient(102.41deg, #FFFFFF 6.22%, #E8FFFD 87.23%);
  --indigo-card-bg: linear-gradient(102.41deg, #FFFFFF 6.22%, #F4F5FF 87.23%);
  --orm-card-bg: #fff;
  --grid-border-color: #cbd5e0;
  --community-bgd-color: var(--gray-100);
  --shadow-card-bg: #fff;
  --badge-bg-color: rgb(237, 242, 247);
  --badge-color: rgb(160, 174, 192);

  --main-bgd-color: #f7fafc;
  --header-bg-color: #ffffff;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --border-color: #e2e8f0;
  --code-bgd-color: #f6f8fa;
  --code-inline-bgd-color: #edf2f7;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --footer-bottom-height: 75px;
  --brand-primary: rgb(90, 103, 216);
  --ifm-hover-overlay: var(--indigo-700);
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #e2e8f0;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  --ifm-color-primary: var(--indigo-600);
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);

  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  color: var(--main-font-color);
  background-color: var(--white-color);

  --homepage-header-bg: rgb(247, 250, 252);
  /* Colors */
  --indigo-100: #EBF4FF;
  --indigo-200: #C3DAFE;
  --indigo-300: #A3BFFA;
  --indigo-400: #7F9CF5;
  --indigo-500: #667EEA;
  --indigo-600: #5A67D8;
  --indigo-700: #4C51BF;
  --indigo-700: #434190;

  --gray-100: #F7FAFC;
  --gray-200: #EDF2F7;
  --gray-300: #E2E8F0;
  --gray-400: #CBD5E0;
  --gray-500: #A0AEC0;
  --gray-600: #718096;
  --gray-700: #4A5568;
  --gray-800: #2D3748;
  --gray-900: #1A202C;
  --gray-1000: #090a15;
  @media (max-width: 996px) {
    --ifm-menu-link-sublist-icon: url("/icons/chevron-up-solid.svg");
    --ifm-navbar-padding-horizontal: 0;
  }
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
/* PRIMITES WITH THEME DEFINED BY TOGGLER */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-link-color: #e2e8f0;
  --ifm-footer-background-color: rgb(26, 32, 44);
  --code-bg: #1A202C;
  --ifm-hover-overlay: var(--indigo-700);
  /* Generic */
  --ifm-btn-border-color-active: #718096;
  --ifm-btn-border-color: #2D3748;
  --ifm-tabs-color: #A0AEC0;
  --ifm-tabs-bg-color: #1A202C;
  --ifm-tabs-bg-color-active: #2D3748;
  --main-font-color: #e2e8f0;
  --primary-font-color: rgb(247, 250, 252);
  --secondary-font-color: rgb(203, 213, 224);
  --icon-wrapper-bg: rgb(90, 103, 216);
  --icon-svg-color: #F7FAFC;
  --teal-link-color: #71E8DF;
  --indigo-link-color: #7F9CF5;
  --teal-card-bg: linear-gradient(287.43deg, rgba(4, 200, 187, 0.17) -34.29%, rgba(4, 200, 187, 0) 98.22%),linear-gradient(99.45deg, #1A202C -40.85%, #27303E 91.67%);
  --indigo-card-bg: linear-gradient(283.66deg, rgba(102, 126, 234, 0.2418) -32.46%, rgba(102, 126, 234, 0) 96.55%), linear-gradient(99.45deg, #1A202C -40.85%, #27303E 91.67%);
  --orm-card-bg: var(--gray-800);
  --grid-border-color: var(--gray-700);
  --community-bgd-color: var(--gray-800);
  --shadow-card-bg: var(--gray-900);
  --badge-color: rgb(247, 250, 252);
  --badge-bg-color: rgb(45, 55, 72);
  --ifm-card-background-color: var(--gray-800);
  --ifm-link-hover-color: #5196d7;

  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --header-bg-color: #1a202c;
  --selection-bgd-color: #0c344b;
  --white-color: #ffffff;
  --link-color: #3182ce;
  --code-bgd-color: #2d3748;
  --code-inline-bgd-color: #2d3748;
  --list-bullet-color: #a0aec0;
  --search-highlight-bg-color: #ebf8ff;
  --tag-media-color: #2d3748;
  --gradient1-color: #2f3747;
  --gradient2-color: #0d0f14;
  --header-btn-color: #4a5568;
  --navbar-teal-color: rgb(113, 232, 223);
  --navbar-tab-bg: rgb(45, 55, 72);
  --navbar-indigo-color: rgb(127, 156, 245);
  --ifm-color-content: rgb(247, 250, 252);
  --ifm-navbar-background-color: var(--gray-1000);
  --ifm-navbar-link-color: #e2e8f0;
  /* Code blocks */
  --code-inner-color: #718096;
  --code-token1-color: #d5408c;
  --code-token2-color: #805ad5;
  --code-token3-color: #319795;
  --code-token4-color: #dd6b21;
  --code-token5-color: #690;
  --code-token6-color: #9a6e3a;
  --code-token7-color: #e90;
  --code-linenum-color: #cbd5e0;
  --code-added-color: #47bb78;
  --code-added-bg-color: #d9f4e6;
  --code-deleted-color: #e53e3e;
  --code-deleted-bg-color: #f5e4e7;
  --code-highlight-color: #a0aec0;
  --code-highlight-bg-color: #4a5568;
  --code-edit-bg-color: #c3dafe;
  --code-result-bg-color: #e7edf3;
  /* Buttons */
  --red-color: #ff4f56;
  --green-color: #15bd76;
  --grey-color: #3d556b;
  --grey-bg-color: #8fa6b2;
  --dark-color: rgb(12, 52, 75);
  --homepage-header-bg: rgb(36, 44, 58);
}

/* PRIMITES WITH THEME DEFINED */  
@media (prefers-color-scheme: dark) {
  /* Theme: Dark OS + Light docs = Light docs */
  :root[data-theme='light'] {
    --ifm-color-primary: #2e8555;
    --ifm-background-color: #fff;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --main-font-color: #2d3748;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-breadcrumb-separator: url("/icons/breadcrumb.svg");
    --navbar-teal-color: rgb(24, 115, 103);
    --navbar-tab-bg: rgb(237, 242, 247);
    --navbar-indigo-color: rgb(76, 81, 191);
    --ifm-navbar-height: 80px;
    --ifm-color-content: rgb(26, 32, 44);
    --ifm-breadcrumb-spacing: 4px;
    --ifm-navbar-link-color: rgb(45, 55, 72);
    --ifm-footer-background-color: rgb(26, 32, 44);
    --ifm-navbar-link-hover-color: rgb(45, 55, 72);
    --ifm-link-hover-decoration: none;
    --ifm-hover-overlay: var(--indigo-700);
    --ifm-color-primary: var(--indigo-600);
    --ifm-heading-color: var(--ifm-color-content);
    --ifm-navbar-background-color: #fff;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
    --code-bg: var(--gray-200);
    --ifm-tabs-color: #718096;
    --ifm-tabs-bg-color: #E2E8F0;
    --ifm-tabs-bg-color-active: #718096;
    --ifm-btn-border-color-active: #718096;
    --ifm-btn-border-color: #E2E8F0;

    --ifm-card-background-color: white;
    --main-font-color: #2d3748;
    --secondary-font-color: #4a5568;
    --primary-font-color: var(--gray-900);
    --icon-wrapper-bg: rgb(235, 244, 255);
    --icon-svg-color: #5A67D8;
    --teal-link-color: #16A394;
    --indigo-link-color: #5A67D8;
    --teal-card-bg: linear-gradient(102.41deg, #FFFFFF 6.22%, #E8FFFD 87.23%);
    --indigo-card-bg: linear-gradient(102.41deg, #FFFFFF 6.22%, #F4F5FF 87.23%);
    --orm-card-bg: #fff;
    --grid-border-color: #cbd5e0;
    --community-bgd-color: var(--gray-100);
    --shadow-card-bg: #fff;
    --badge-bg-color: rgb(237, 242, 247);
    --badge-color: rgb(160, 174, 192);

    --main-bgd-color: #f7fafc;
    --header-bg-color: #ffffff;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #3182ce;
    --border-color: #e2e8f0;
    --code-bgd-color: #f6f8fa;
    --code-inline-bgd-color: #edf2f7;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --ifm-footer-background-color: rgb(26, 32, 44);
    --footer-bottom-height: 75px;
    --ifm-link-hover-color: #2E5297;
    --brand-primary: rgb(90, 103, 216);
    --ifm-hover-overlay: var(--indigo-700);
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #e2e8f0;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    --ifm-color-primary: var(--indigo-600);
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);
  
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    color: var(--main-font-color);
    background-color: var(--white-color);
    --homepage-header-bg: rgb(247, 250, 252);
    /* Colors */
    --indigo-100: #EBF4FF;
    --indigo-200: #C3DAFE;
    --indigo-300: #A3BFFA;
    --indigo-400: #7F9CF5;
    --indigo-500: #667EEA;
    --indigo-600: #5A67D8;
    --indigo-700: #4C51BF;
    --indigo-700: #434190;
  
    --gray-100: #F7FAFC;
    --gray-200: #EDF2F7;
    --gray-300: #E2E8F0;
    --gray-400: #CBD5E0;
    --gray-500: #A0AEC0;
    --gray-600: #718096;
    --gray-700: #4A5568;
    --gray-800: #2D3748;
    --gray-900: #1A202C;
    --gray-1000: #090a15;
  }
  [data-theme='dark'] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --navbar-teal-color: rgb(113, 232, 223);
    --navbar-tab-bg: rgb(45, 55, 72);
    --navbar-indigo-color: rgb(127, 156, 245);
    --ifm-color-content: rgb(247, 250, 252);
    --ifm-navbar-link-color: #e2e8f0;
    --ifm-footer-background-color: rgb(26, 32, 44);
    --ifm-hover-overlay: var(--indigo-700);
    /* Generic */


    --ifm-btn-border-color-active: #718096;
    --ifm-btn-border-color: #2D3748;
    --ifm-tabs-color: #A0AEC0;
    --ifm-tabs-bg-color: #1A202C;
    --ifm-tabs-bg-color-active: #2D3748;
    --main-font-color: #e2e8f0;
    --primary-font-color: rgb(247, 250, 252);
    --secondary-font-color: rgb(203, 213, 224);
    --icon-wrapper-bg: rgb(90, 103, 216);
    --icon-svg-color: #F7FAFC;
    --teal-link-color: #71E8DF;
    --indigo-link-color: #7F9CF5;
    --teal-card-bg: linear-gradient(287.43deg, rgba(4, 200, 187, 0.17) -34.29%, rgba(4, 200, 187, 0) 98.22%),linear-gradient(99.45deg, #1A202C -40.85%, #27303E 91.67%);
    --indigo-card-bg: linear-gradient(283.66deg, rgba(102, 126, 234, 0.2418) -32.46%, rgba(102, 126, 234, 0) 96.55%), linear-gradient(99.45deg, #1A202C -40.85%, #27303E 91.67%);
    --orm-card-bg: var(--gray-800);
    --grid-border-color: var(--gray-700);
    --community-bgd-color: var(--gray-800);
    --shadow-card-bg: var(--gray-900);
    --badge-color: rgb(247, 250, 252);
    --badge-bg-color: rgb(45, 55, 72);
    --code-bg: #1A202C;

    --ifm-card-background-color: var(--gray-800);
    --main-bgd-color: #1a202c;
    --border-color: #2d3748;
    --header-bg-color: #1a202c;
    --selection-bgd-color: #0c344b;
    --white-color: #ffffff;
    --link-color: #3182ce;
    --ifm-link-hover-color: #5196d7;
    --code-bgd-color: #2d3748;
    --code-inline-bgd-color: #2d3748;
    --list-bullet-color: #a0aec0;
    --search-highlight-bg-color: #ebf8ff;
    --tag-media-color: #2d3748;
    --gradient1-color: #2f3747;
    --gradient2-color: #0d0f14;
    --header-btn-color: #4a5568;
    --navbar-teal-color: rgb(113, 232, 223);
    --navbar-tab-bg: rgb(45, 55, 72);
    --navbar-indigo-color: rgb(127, 156, 245);
    --ifm-color-content: rgb(247, 250, 252);
    --ifm-navbar-background-color: var(--gray-1000);
    --ifm-navbar-link-color: #e2e8f0;
    /* Code blocks */
    --code-inner-color: #718096;
    --code-token1-color: #d5408c;
    --code-token2-color: #805ad5;
    --code-token3-color: #319795;
    --code-token4-color: #dd6b21;
    --code-token5-color: #690;
    --code-token6-color: #9a6e3a;
    --code-token7-color: #e90;
    --code-linenum-color: #cbd5e0;
    --code-added-color: #47bb78;
    --code-added-bg-color: #d9f4e6;
    --code-deleted-color: #e53e3e;
    --code-deleted-bg-color: #f5e4e7;
    --code-highlight-color: #a0aec0;
    --code-highlight-bg-color: #4a5568;
    --code-edit-bg-color: #c3dafe;
    --code-result-bg-color: #e7edf3;
    /* Buttons */
    --red-color: #ff4f56;
    --green-color: #15bd76;
    --grey-color: #3d556b;
    --grey-bg-color: #8fa6b2;
    --dark-color: rgb(12, 52, 75);

    --homepage-header-bg: rgb(36, 44, 58);
  }
}

html[data-theme='dark'] {
  --ifm-background-color: var(--gray-1000);
  --main-bgd-color: #1a202c;
  --border-color: #2d3748;
  --white-color: white;
}
