.topSectionWrapper {
  position: relative;
  margin-bottom: 1rem;

  flex-shrink: 0;
  .tech-switch-block {
    position: relative;
  }

  @media (min-width: 0px) and (max-width: 360px) {
    .tech-switch-block {
      width: 100%;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  @media (min-width: 0px) and (max-width: 360px) {
    flex-direction: column;
    align-items: baseline;
  }
}
