[data-theme="light"] {
    .lightImg {
      display: block;
    }
    .darkImg {
      display: none;
    }
}
[data-theme="dark"] {
    .lightImg {
        display: none;
    }
    .darkImg {
        display: block;
    }
}