/* TODO: Move this to styled components */
.item {
  position: relative;
}

.item a {
  vertical-align: middle;
}

.tag {
  float: right;
  color: #a0aec0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  background: #edf2f7;
  border-radius: 5px;
  padding: 2px 5px;
}

.item-collapser {
  background: transparent;
  position: absolute;
  left: -12px;
  top: 3px;
  padding: 0;
  border: 0;
}

.item-collapser:hover,
.item-collapser:focus,
.item-collapser:active {
  outline: none;
}

.item.active {
  color: #4a5568;
}

.item.active a {
  font-weight: 700;
}
.top-level {
  margin-top: 2rem;
}

.top-level > a {
  font-size: 20px;
  color: #1a202c !important;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.top-level > ul {
  margin-top: 24px;
}

.static-link > a {
  color: #a0aec0 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
