
.linkGrid {
  display: flex;
  max-width: 338px;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;

  a,
  button {
    min-width: calc(50% - 8px);
    white-space: nowrap;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 16px */
    letter-spacing: -0.32px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    display: none;
  }
}

%productCard {
  padding: 24px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgba(23, 43, 77, 0.04), 0px 3px 2px 0px rgba(23, 43, 77, 0.08);
  background: var(--card-bg);
  transition: all 200ms ease-in-out;
  outline: 1px solid var(--border-color);
  h4 {
    margin: 0;
    font-size: 20px;
  }
  .body {
    margin-top: 20px;
    overflow: hidden;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &:hover {
    box-shadow: 0px 18px 42px 0px #172B4D14,
                0px 4px 26px 0px #172B4D0D,
                0px 0px 46px 0px #172B4D03;
  }
  button {
    font-size: 18px;
    margin-top: 16px;
  }
  &.light {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }
}

.productCardTeal {
  @extend %productCard;
  &:hover {
    outline: 2px solid var(--teal-600);
  }
  h5.eyebrow {
    color: var(--teal-600);
  }

  a,
  button {
    color: var(--teal-link-color);
  }

  .icon, .iconWrapper {
    background: var(--teal-600);
    &.light {
      background: var(--surface-brand-light);
    }
  }
}
.cardHeader {
  display: flex;
  gap: 24px;
  align-items: center;
  min-height: 81px;
  h5.eyebrow {
    margin-bottom: 8px;
  }
  &.light {
    gap: 16px;
  }
  .iconWrapper {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10.5px;
    flex-shrink: 0;
  }
}

h5.eyebrow {
  //styleName: HEADINGS/H5;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
  text-transform: uppercase;
  color: var(--tertiary-font-color);
  letter-spacing: 0.1em;
  text-align: left;
}

.h4 {
  font-family: "Barlow";
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 26.4px */
  letter-spacing: -0.48px;
}
.body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 140%;
  color: var(--secondary-font-color);
}
