.switcherWrapper {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.switchWrapper {
  display: none;
  position: relative;
  &.show {
    display: block;
  }
}

.container {
  margin: 16px 0 0 0;
  width: fit-content;
  text-overflow: ellipsis;

  @media only screen and (max-width: 767px) {
    margin: 8px 0 0;
    width: 100%;
  }
  .tech-select__input {
    user-select: none !important;
    caret-color: transparent;
  }
}

.selectItem {
  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}
