@import 'tailwindcss';
@import "fumadocs-ui/css/shadcn.css";
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import '@prisma-docs/ui/styles';


#nd-sidebar {
  @apply border-e;
  background-color: var(--color-background);
}

header &[data-search-full] {
  @apply rounded-xl;
}

[data-header-tabs],
[data-header-body] {
  @apply border-none;
}

#nd-page {
  @apply @container;
}
