.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  border: 1px solid rgba(226, 232, 240, 1);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border;
}

.cardContainer:hover {
  border-color: rgba(113, 128, 150, 1);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
