.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  border: 1px solid var(--ifm-btn-border-color);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border;
  color: var(--main-font-color);
  background-color: transparent;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  @media (min-width: 997px) {
    display: block;
    height: auto;
  }
}

.cardContainer:hover {
  border-color: var(--ifm-btn-border-color-active);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  @media (min-width: 997px) {
    text-align: left;
  }
}
.col6 {
  --ifm-col-width: 50% !important;
}

.cardDescription {
  max-width: 100%;
}