.menuExternalLink {
  align-items: center;
}
.badge {
  position: absolute;
  right: 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: var(--badge-color);
  background: var(--badge-bg-color);
  border-radius: 5px;
  padding: 2px 5px;
  text-transform: capitalize;
}

.active {
  font-weight: 700;
}

[data-theme="light"] .active:hover {
  color: var(--gray-1000) !important;
}
[data-theme="dark"] .active:hover {
  color: #bee3f8 !important;
}

.collapsed {
  transform: rotate(0deg);
  top: 6px;
  margin-right: -5px;
}
@media (max-width: 996px) {
  .collapsed {
    top: 7px;
  }
}
