.codeBlockContainer {
  background: var(--prism-background-color);
  color: var(--prism-color);
  box-shadow: var(--ifm-global-shadow-lw);
  border-radius: var(--ifm-code-border-radius);
  max-width: 100%;

  ::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c5c6c8;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
    border-color: transparent;
  }
}

.file {
  font-weight: 600;
  color: rgb(113, 128, 150);
  font-size: 0.875rem;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  margin-bottom: 0.5rem;
  > span {
    color: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
  }

  :global(.tabs-container) & {
    padding: 1rem 1rem 0rem;
    margin-bottom: 0rem;
  }
}
