name: Linkspector
on: [pull_request]
jobs:
  check-links:
    name: runner / linkspector
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1.3.6
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          fail_on_error: true
          filter_mode: nofilter
          config_file: .github/workflows/config/.linkspector.yml