name: "Lost Pixel"
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lost Pixel

    steps:
      - uses: actions/checkout@v4

      - name: Get all changed markdown files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: content/**/*.{md,mdx}

      # - name: Get list of all changed files
      #   id: files
      #   uses: Ana06/get-changed-files@v1.2 # it's a fork of jitterbit/get-changed-files@v1 which works better with pull requests
      # - name: Extract links
      #   id: links
      #   run: |
      #     # Declare an array to store the links
      #     declare -a linksArray

      #     for changed_file in ${{ steps.files.outputs.all }}; do
      #       if [[ $changed_file == content/* ]]; then
      #         cleaned_file=$(echo "$changed_file" | sed -E 's:content/:/:g' | sed -E 's:/index.mdx::g' | sed -e 's/.mdx//g' | sed -E 's:/[0-9]+-:/:g')
      #         # TODO special case for images and similar non .mdx files

      #         # Output inside the action
      #         echo "- /docs$cleaned_file"

      #         # Add the link to the array
      #         link="/docs$cleaned_file"
      #         linksArray+=("$link")
      #       fi
      #     done

          # Join the array elements with a delimiter and set as output
          linksOutput=$(IFS=, ; echo "${linksArray[*]}")
          echo "::set-output name=links::$linksOutput"

      - name: Output relevant files
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.any_changed }}
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          if [ ${CHANGED_FILES} == 'true' ]; then
            # Print the array contents
            linksArray = ($(echo ${ALL_CHANGED_FILES}))
            for link in "${linksArray[@]}"; do
              echo "$link"
            done
          else
            echo "No files changed."
          fi

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Build docs
        run: npm run clean && npm run build

      - name: Start docs
        run: npm run serve &

      - name: Generate sitemap
        run: npx lost-pixel page-sitemap-gen http://172.17.0.1:3000/sitemap.xml "./lost-pixel-pages.json"

      - name: Edit page names
        run: sed -i -e 's/_/\//g' -e 's|prisma\.io||g' -re 's/(name.+)(\/)(\")/\1-\3/g' lost-pixel-pages.json

      - name: Lost Pixel
        uses: lost-pixel/lost-pixel@v3.17.0
        env:
          LOST_PIXEL_API_KEY: ${{ secrets.LOST_PIXEL_API_KEY }}
