name: Sync Mixedbread Vector Store

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [apps/docs/content/docs/**/*.mdx]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/setup
        with:
          working-directory: ./apps/docs/content/docs

      - name: Sync vector store
        shell: bash
        working-directory: ./apps/docs/content/docs
        env:
          MIXEDBREAD_API_KEY: ${{ secrets.MIXEDBREAD_API_KEY }}
          MIXEDBREAD_VECTOR_STORE_ID: ${{ secrets.MIXEDBREAD_VECTOR_STORE_ID }}
        run: pnpm mxbai vs sync "${MIXEDBREAD_VECTOR_STORE_ID}" "apps/docs/content/docs/**/*.mdx" --yes --strategy fast 
